body {
    color: white;
    background-color: black;
}

* {
    font-family: monospace;
}

.clickable {
    user-select: none;
}

.thing-icon {
    width:  4vh;
    height: 4vh;
    image-rendering: pixelated;
}

.thing-label {
    font-size: 3vh;
    position: relative;
    bottom: 1vh;
}

.description {
    font-size: 1.5vh;
    position: relative;
    bottom: 1.5vh;
    left: 3vw;
    font-style: italic;
    color: gray;
}

.child-container {
    margin-left: 1vw;
}

.main-container {
    background-color: rgba(255, 255, 255, 1%); /* Gradually get lighter as there are more things nested */
}